@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");

body {
  margin: 0;
  font-family: "Luckiest Guy", cursive;
  font-size: large;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0f0f0f;
}
.background__image {
  background-image: url("./assets/fondo.png");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

.selectBox__container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border: 1px solid #000000;
  border-radius: 150px;
  -webkit-box-shadow: 0px 9px 9px -4px rgba(72, 69, 73, 0.71);
  -moz-box-shadow: 0px 9px 9px -4px rgba(72, 69, 73, 0.71);
  box-shadow: 0px 9px 9px -4px rgba(72, 69, 73, 0.71);
  padding: 0.7rem 0;
}

.selectBox__title {
  font-size: larger;
  margin: 0;
  padding: 0;
}

.selectBox__button {
}

.selectBox__leftButton {
  position: absolute;
  left: 0;
  padding: 0.8rem;
  border-radius: 1px 200px 200px 1px;
  -moz-border-radius: 200px 1px 1px 200px;
  -webkit-border-radius: 200px 1px 1px 200px;
  /* border-radius: 0px 100px 50px 0; */
}
.selectBox__rightButton {
  /* border: 2px solid; */
  padding: 0.8rem;
  position: absolute;
  right: 0;
  border-radius: 0px 200px 200px 0px;
  -moz-border-radius: 0px 200px 200px 0px;
  -webkit-border-radius: 0px 200px 200px 0px;
}
