@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,700;1,400&display=swap');

body {
  margin: 0;
  font-family: "Luckiest Guy", cursive;
  font-size: large;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0f0f0f;
}
.background__image {
  background-image: linear-gradient(
      rgba(26, 26, 26, 0.226),
      rgba(26, 26, 26, 0.349)
    ),
    url("./assets/fondo.png");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 100vh;
}

.selectBox__container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 10px;
  -webkit-box-shadow: 0px 9px 9px -4px rgba(72, 69, 73, 0.71);
  -moz-box-shadow: 0px 9px 9px -4px rgba(72, 69, 73, 0.71);
  box-shadow: 0px 9px 9px -4px rgba(72, 69, 73, 0.71);
  outline: none;
}

.selectBox__container span {
  position: absolute;
  content: "";
  top: -50%;
  left: 0;
  color: white;
  font-family: 'Space Mono', monospace;
  font-weight: 400;
}

.selectBox__select {
  width: 90%;
  height: 50px;
  text-align: center;
  border: none;
  padding: 0.7rem 0;
  border-radius: 150px;
}

.selectBox__option {
  text-align: center;
  border-radius: 5px;
}

.selectBox__select:active,
.selectBox__select:hover,
.selectBox__select:enabled {
  outline: none !important;
  border: none !important;
  background-color: none !important;
}

.risk__input {
  color: #0f0f0f;
  background-color: #e9576f;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border: 1px solid #000000;
  border-radius: 150px;
  -webkit-box-shadow: 0px 9px 9px -4px rgba(72, 69, 73, 0.71);
  -moz-box-shadow: 0px 9px 9px -4px rgba(72, 69, 73, 0.71);
  box-shadow: 0px 9px 9px -4px rgba(72, 69, 73, 0.71);
  padding: 0.7rem 0;
  width: 100%;
  text-align: center;
}

.greenhouseMessage__container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  margin: 0 auto;
  border-radius: 25px;
  -webkit-box-shadow: 0px 9px 9px -4px rgba(72, 69, 73, 0.71);
  -moz-box-shadow: 0px 9px 9px -4px rgba(72, 69, 73, 0.71);
  box-shadow: 0px 9px 9px -4px rgba(72, 69, 73, 0.71);
  border: 2px solid rgba(72, 69, 73, 0.91);
}

.greenhouseMessage__message {
  flex: 67%;
  text-align: center;
}
.greenhouseMessage__message p {
  margin: 0 !important;
}

.greenhouseMessage__img {
  flex: 33%;
  border-left: 2px solid rgba(72, 69, 73, 0.91);
  padding: 0.7rem 0;
  border-radius: 0 25px 25px 0;

  /* background-color: #70EEE2; */
}

.greenhouseMessage__img img {
  max-width: 50%;
  height: auto;
}

.result__container {
  border: 2px solid rgba(72, 69, 73, 0.91);
  border-radius: 10px;
  -webkit-box-shadow: 0px 9px 9px -4px rgba(72, 69, 73, 0.71);
  -moz-box-shadow: 0px 9px 9px -4px rgba(72, 69, 73, 0.71);
  box-shadow: 0px 9px 9px -4px rgba(72, 69, 73, 0.71);
  display: flex;
  align-items: center;
  justify-content: center;
}

.result__title {
  flex: 75%;
  border-right: 2px solid rgba(72, 69, 73, 0.91);
  border-radius: 9px 0 0 9px;
}

.result__percentage {
  flex: 25%;
  border-radius: 0 9px 9px 0;
}

/*----Button Styles*/
.pushable {
  /* background: hsl(340deg 100% 32%); */
  background: #eb994d;
  border-radius: 12px;
  box-shadow: 0 5px 0 rgb(0 0 0 / 20%), inset 0 -5px 0 #eb994d,
    inset 0 5px 0 #fff76c;
  border: none;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
}

.front {
  display: block;
  padding: 12px 42px;
  border-radius: 12px;
  font-size: 1.25rem;
  background: #fdc25b;
  color: white;
  transform: translateY(-6px);
}

.pushable:active .front {
  transform: translateY(-2px);
}

.clipboardCopy {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: black;
  color: white;
  margin-right: 10px;
  border-radius: 10px;
  padding: 10px 10px;
  -webkit-box-align: center;
  max-width: 75%;
  margin: 0 auto;
}

.clipboardCopy code {
  font-family: input-mono, monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 0.8rem;
  color: #f89f39;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* number of lines to show */
  -webkit-box-orient: vertical;
  width: 75%;
}

.clipboardCopy button {
  background-color: transparent;
  border: none;
  border-radius: 10px;
  color: #01d6a3;
  font-family: monospace;
  font-weight: 600;
}

.plantsScreen__mainContainer {
  /* background-color: #fdc25b; */
  border-radius: 7px;
}

.plantContainer__row {
  border-radius: 7px;
  border: 5px double #f8b239;
  margin-top: 0.8rem;
  padding: 0.5rem 0;
}
